.article {
    position: relative;
    .card{
        padding: 2rem;
        border-radius:.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        border: solid 1px #f3f3f3;
        .cardTitle{
            margin-bottom: 2rem;
        }
        .cardImg{
            margin-bottom: 1rem;
        }
        .cardTypes {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        &:hover{
            overflow-y: scroll;
            ~.panelImg{
                opacity: 1;
                top: -30px;
                left: -30px;
            }
            
         }
     
    }
    .panelImg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 250ms ease-in-out;
    }
}

@media (min-width:768px){
    .article {
        .card{
            &:hover{
                overflow-y: hidden;
             }
         
        }
    }
}