.inputContainer {
    position: relative;
    font-size: 1.5rem;
    .imgSearch{
        width: 15px;
        position: absolute;
        opacity: 0.5;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
    }
    .inputSearch{
        padding: 1rem;
        padding-left: 2.5rem;
        //width: 100%;
        border:  2px solid #00bcbc; 
        border-radius: 2rem;
        font-size: 1.2rem;
        &::-webkit-search-cancel-button{
            -webkit-appearance: none;
            content: URL("https://img.icons8.com/material/24/null/cancel--v1.png");
            cursor: pointer;
            opacity: 0.2;
            width: 15px;
        }
        &:focus-visible{
            border:  2px solid #00ebef; 
            outline: none;
            box-shadow: 13px 7px 39px -8px rgba(0,0,0,0.48);
            -webkit-box-shadow: 13px 7px 39px -8px rgba(0,0,0,0.48);
            -moz-box-shadow: 13px 7px 39px -8px rgba(0,0,0,0.48);
        }
    }
}